.openingPage_full_container{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.openingPage_full_container img{
    width:200px;
    height:200px;
}

.openingPage_full_container button{
    width:100px;
    height:40px;
    font-size:16px;
    cursor:pointer;
    background-color: #e7f5ff;
    color: #4dabf7;
    border-radius: 5px;
    font-weight: 800;
    border: none;
    box-shadow: inset 0 2px 5px rgba(240,240,240,1),
    2px 5px 5px rgb(203, 202, 202)
    ;

}